<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <section class="container">
    <h1>비밀번호 변경</h1>
    <form th:object="${password}" th:action="@{/password}" method="post">
      <div class="mb-3, col-3">
        <label class="form-label">기존 패스워드</label>
        <input type="password" class="form-control" th:field="*{old}">
        <p th:if="${#fields.hasErrors('old')}" th:errors="*{old}" class="text-danger">Old Password Error</p>
      </div>
      <div class="mb-3, col-3">
        <label class="form-label">새 패스워드</label>
        <input type="password" class="form-control" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password Error</p>
      </div>
      <div class="mb-3, col-3">
        <label class="form-label">패스워드 확인</label>
        <input type="password" class="form-control" th:field="*{passwordConfirm}">
        <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger">PasswordConfirm Error</p>
      </div>
      <button type="submit" class="btn btn-primary">변경</button>
    </form>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>